.inner-page {
    border: 1px solid #C5C3C5; /* Add border */
    border-radius: 25px; /* Add border radius */
}

.left-page {
    border: 1px solid #C5C3C5; /* Add border */
    border-right-width: 25px; /* Thick right border for page 1 */
}
  
.right-page {
    border: 1px solid #C5C3C5; /* Add border */
    border-left-width: 25px; /* Thick left border for page 2 */
}