.procedure{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    /* margin: auto; */
}
.procedure h4{
    margin-bottom: 0.4rem;
}
.procedure h5{
    margin-bottom: 1rem;
}
.procedure > *:not(ol) {
    border: none;
}
.procedure .list{
    display: flex;
    flex-direction: column;
    border: none;
}

.procedure i{
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.custom-counter{
    display: flex;
    flex-direction: column;
    counter-reset: section;
    content: counter(step-counter);
    line-height: 18px;
    gap: 5px;
    border: none;
    margin-bottom: 0.6rem;
}

.custom-counter .procedures{
    display: flex;
    flex-direction: row;
}
.custom-counter .procedures span{
    border-radius: 25px;
    background: #F5F5F5;
    width: 400px;
    height: 4vh;
}

.procedure .bx-plus-circle{
    margin-bottom: 3rem;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2.2rem;
}
.buttons button{
    border: 1px solid #000;
    border-radius: 20px;
    padding: 5px 20px;
}