.ingredients{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    align-self: flex-end;
    border: 1px solid #000;
    border-radius: 20px;
    width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px;
}

.ingredients h4{
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.ingredients .input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    width: 200px;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 1rem;
}
.ingredients .input i{
    background: #F5F5F5;
}
.ingredients .input input{
    background: #F5F5F5;
    border: none;
    margin-left: 5px;
}
.table{
    display: flex;
    flex-direction: row;
    background: #fff;
}
.table .Ingredients-table{
    margin-right: 4rem;
    border-collapse: separate;
    border-spacing: 0 10px;
    background: #fff;
}
.Ingredients-table th,
.Ingredients-table td {
  padding: 0 10px;
}
.Ingredients-table td:first-child {
    border-right: 2px dotted black;
}


.table .Ingredients-Cout{
    color: grey;
}


.bx-x{
    color: red;
}

.ingredients-bottom{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ingredients-bottom button{
    margin: 0;
    padding: 0;
    margin-right: 10rem;
}

.ingredients-bottom .kg-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}